<div class="statusContainer">
<h2>Not Started</h2>
<div  style="float:left;width:100%;background-color:green;min-height:700px" id="status0" class="target">
<% @ns_tasks.each do |t| %>
<div class="draggable" id="task<%= t.id %>" style="background-color:blue;margin:5 5 5 5;">
<h2><%=h t.title%></h2>
<%= h t.description %>
</div>
<% end %>
</div>
</div>
<div class="statusContainer">
<h2>Development</h2>
<div  style="float:left;width:100%;background-color:yellow;min-height:700px" id="status1" class="target">
<% @dev_tasks.each do |t| %>
<div class="draggable" id="task<%= t.id %>" style="background-color:blue;margin:5 5 5 5;">
<h2><%=h t.title%></h2>
<%= h t.description %>
</div>
<% end %>
</div>
</div>
<div class="statusContainer">
<h2>Testing</h2>
<div  style="float:left;width:100%;background-color:gray;min-height:700px" id="status2" class="target">
<% @test_tasks.each do |t| %>
<div class="draggable" id="task<%= t.id %>" style="background-color:blue;margin:5 5 5 5;">
<h2><%=h t.title%></h2>
<%= h t.description %>
</div>
<% end %>
</div>
</div>
<div class="statusContainer">
<h2>Done</h2>
<div  style="float:left;width:100%;background-color:purple;min-height:700px" id="status3" class="target">
<% @done_tasks.each do |t| %>
<div class="draggable" id="task<%= t.id %>" style="background-color:blue;margin:5 5 5 5;">
<h2><%=h t.title%></h2>
<%= h t.description %>
</div>
<% end %>
</div>
</div>
